<div class="flex-shrink footer">
	<div class="divider"></div>
	<div class="flex w-100 flex-center flex-column">
		<div class="w-100 tc mt1">
			<a href="{{author.social.github.url}}" aria-label="github" class="social">{% include 'icons/github.html' %}</a>
			<a href="{{author.social.linkedin.url}}" aria-label="linkedin" class="social">{% include 'icons/linkedin.html' %}</a>
			<a href="{{author.social.instagram.url}}" aria-label="instagram" class="social">{% include "icons/instagram.html" %}</a>
			<a href="{{author.social.twitter.url}}" aria-label="twitter" class="social">{% include "icons/twitter.html" %}</a>
		</div>
		<div class="w-100 flex flex-around items-center pa1">
			<a href="mailto:vijendran.sriram@gmail.com">
				<small>Contact me!</small>
			</a>
		</div>
		<div class="w-100 mb1 tc" >
			<small class="copyright"> 2021 © Copyright to Sriram Vijendran</small>
		</div>
	</div>
	<div>