<nav class="navbar">
      <div class="container">
        <div class="columns flex-between-md">
        <section class="column col-md-12 col-lg-6 flex flex-end flex-between-md pa1">
            {% for item in site.pages %}
                <a href="{{ item.url | url }}" class="btn btn-link">{{ item.name }}</a>
            {% endfor %}
        </section>
        </div>
      </div>
    </nav>